streamlit
pandas
requests
python-dateutil
python-multipart

# Unstructured
unstructured
unstructured[all]
unstructured[all-docs]
unstructured-inference
unstructured-client

# OCR & Vision
pytesseract
opencv-python
pillow

# Document Handling
pypdf
PyPDF2
python-docx
python-pptx
openpyxl
xlsxwriter
markdown
lxml
beautifulsoup4
pdfplumber
tabulate
plotly>=5.15.0
PyPDF2

# ML Frameworks
torch
torchvision

# Optional PDF layout detection
layoutparser
